


html, body {
	height:100%;
}

body {
	font-family: 'Computer Modern Bright';
	font-size: 1.25em;
	margin:0px;
	padding:0px;
}

li img {
	display:block;
	border:3px solid #aaa;
	margin:0.5em 1em 1.5em 1em;
}

#index #hd {
	padding:5px 0px 10px 0px;
}
#hd {
	padding:5px 0px 0px 0px;
	background-color:#000;
	text-align:center;
	color: #fff;
	width:100%
	top:0px;
	left:0px;
}

#ft {
	padding:20px 0px 20px 0px;
	text-align:center;
	color: #fff;
}

#nav {
	list-style:none;
	padding:0.5em 0em 0.5em 0em;
	background-color:#777;
	margin-bottom:0px;
	font-weight:bold;
}

#nav ul {
}

#nav li {
	display:inline;
	font-size:1em;
	margin-right:-7px;
}

#nav li a {
	color: #000;
	text-decoration:none;
	padding:0.5em 1em 0.5em 1em;
}

#nav li a:hover {
	background-color:#79B;
}

#nav .current-page{
	background-color:#fff;
	padding:0.5em 1em 0.5em 1em;
	color: #000;
}
.fixed { position: fixed; top: -20px;  }

#nav-container {
	width:100%;
}

#bd {
	background-color:#fff;
}

#hd .alt-header, #hd h2 {
	color:#79B;
}

#bd h1 {
	color:#057;
	text-decoration: underline;
	font-size: 1.75em;
}

#bd h2 {
	color:#057;
	font-size: 1.25em;
}

table {
	border-spacing:0px;
	border-collapse:collapse;
	width:100%;
}

td {
	padding:0.5em 0.5em 0.5em 0.5em;
	border: 1px solid #000;
	vertical-align:top;
}

.module-title + ul > li > a:hover {
	color:#057;
}

.module ul li {
	text-decoration:underline;
}

.module-title + ul > li > ul {
	display:none; 
}

#content {
	width:960px;
	margin:auto;
	margin-top:50px;
}

#bd .bumped {
	/* width of nav (38) + 30 + content's margin (50) */
	margin-top: 128px;
}

ul {
	padding-left:1em;
}

hr {
	background:#000; 
	border:0; height:1px
}
