<!DOCTYPE html> 
<html lang="en">
<head>
	<title>{{ page.title }}</title> 
	<link rel="stylesheet" type="text/css" href="{{ page.prefix }}{{ site.res_base_url }}/fonts/Bright/cmun-bright.css">
	<link rel="stylesheet" type="text/css" href="{{ page.prefix }}{{ site.res_base_url }}/css/screen.css">
	<link rel="stylesheet" type="text/css" href="{{ page.prefix }}{{ site.res_base_url }}/css/syntax.css">
	<script src="{{ page.prefix }}{{ site.res_base_url }}/js/jquery-1.6.3.min.js"></script>
	<script src="{{ page.prefix }}{{ site.res_base_url }}/js/persistent-nav.js"></script>
</head>

</head>
<body>
<div id="hd">
<h1> {{site.course_name}} @ {{site.course_semester}}</h1>
{% if page.chrome != 0 %}
	{% include js-nav.html %}
{% endif %}
</div>
<div id="bd">
<div id="content" class='lab'>
	{{ content }}
</div>
</div>

<div id="ft">
	<p>{{site.course_number}} - {{site.course_name}} - {{site.course_semester}}</p>
</div>
</div>
</body>
</html>
